<div class="flex flex-col">
  <header class="bg-white shadow-md">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">
          <h1 class="text-2xl font-bold text-purple-600">Jetsnack</h1>
          <nav>
            <div class="flex items-center gap-3">
              <div class="relative py-2 hover:cursor-pointer mr-5">
                <%= link_to cart_path(@current_cart), data:{turbo: false} do %>
                  <div class="t-0 absolute left-3">
                    <p class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-white"><%= @current_cart.line_items.size %></p>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="file: mt-4 h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>
                <% end %>
              </div>
              
              <% unless current_user %>
                <%= link_to "Sign Up", auth_signup_path, class:"text-white bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium text-sm px-4 py-2 text-center dark:bg-purple-600 dark:hover:bg-purple-500 dark:focus:ring-purple-800 rounded-md" %>
                <%= link_to "Log In", auth_login_path, class:"text-purple-500 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium text-sm px-4 py-2 text-center dark:bg-gray-600 dark:hover:bg-gray-300 dark:focus:ring-purple-800 rounded-md" %>
              <% else %>
                <%= link_to "Sign Out", auth_logout_path, data: { turbo_method: :post }, class:"block mt-3 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
          
              <% end %>
              
            </div>
          </nav>
      </div>
  </header>
</div>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <div class="relative">
      <input type="text" placeholder="Search Jetsnack" class="w-full h-12 pl-10 pr-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent">
      <span class="material-icons absolute left-3 top-3 text-gray-400">search</span>
      <span class="material-icons absolute right-3 top-3 text-gray-400 cursor-pointer">arrow_back</span>
      <!-- Uncomment the line below and comment out the line above to show loading state -->
      <!-- <span class="material-icons absolute right-3 top-3 text-purple-600 animate-spin">refresh</span> -->
    </div>
  </div>